.cabecalho {
    display: flex; /*deixa os itens flexivel*/
    align-items: center; /*centraliza a lista */
    justify-content: space-between; /* deixa o menu no canto direito */
    background: var(--cor-fundo-cabecalho); /*cor do fundo*/
    padding: 0 2rem 0 2rem; /*margem interna*/
    box-shadow: 0 15px 25px rgba(0, 0, 0, .6);
	margin-bottom: 1rem;
}

.logo {
    width: 320px; /*largurado logo*/
}

.cabecalho__menu {
	display: flex; /*deixa os itens flexivel*/
}

.menu__lista {
    display: flex; /* deixa a lista um do lado do outro */
	align-items: center;
}

.menu__item {
    font-size: 16px;
	list-style: none;
}

.menu__link {
	padding: 10px; /*margem interna*/
	text-decoration: none; /*tirar o sublinhado do link*/
	color: var(--cor-fundo-az-principal); 
}

.botão_enviar {
	/* Estilos para links de ação, como "Entrar" ou "Registrar" */
	position: relative;
	display: inline-block;
	padding: 10px 20px;
	color: var(--cor-fundo-cartao);
	font-size: 16px;
	text-decoration: none;
	text-transform: uppercase;
	overflow: hidden;
	transition: .5s;
	margin-left: 10px;
	letter-spacing: 4px;
	font-family: 'Kaushan Script', cursive;	
  }
  
  /* Estilos de animação para o hover do link */
.botão_enviar:hover {
	/* Estilos de animação quando o mouse passa por cima do link */
	background: var(--cor-botao-vm);
	font-family: 'Kaushan Script', cursive;	
	color: #fff;
	border-radius: 5px;
	box-shadow: 0 0 5px var(--cor-botao-vm),
				0 0 25px var(--cor-botao-vm),
				0 0 50px var(--cor-botao-vm),
				0 0 100px var(--cor-botao-vm);
  }
  
  /* Estilos para as linhas animadas dentro do link */
 .botão_enviar span {
	position: absolute;
	display: block;
  }
  
  /* Estilos para a primeira linha animada */
 .botão_enviar span:nth-child(1) {
	top: 0;
	left: -100%;
	width: 100%;
	height: 2px;
	background: linear-gradient(90deg, transparent, var(--cor-botao-vm));
	animation: btn-anim1 1s linear infinite;
  }
  
  /* Definindo keyframes para a animação da primeira linha animada */
  @keyframes btn-anim1 {
	0% {
	  left: -100%;
	}
	50%, 100% {
	  left: 100%;
	}
  }
  
  /* Repetindo o mesmo padrão para as outras linhas animadas */
  .botão_enviar span:nth-child(2) {
	top: -100%;
	right: 0;
	width: 2px;
	height: 100%;
	background: linear-gradient(180deg, transparent, var(--cor-botao-vm));
	animation: btn-anim2 1s linear infinite;
	animation-delay: .25s;
  }
  
  @keyframes btn-anim2 {
	0% {
	  top: -100%;
	}
	50%, 100% {
	  top: 100%;
	}
  }
  
  .botão_enviar span:nth-child(3) {
	bottom: 0;
	right: -100%;
	width: 100%;
	height: 2px;
	background: linear-gradient(270deg, transparent, var(--cor-botao-vm));
	animation: btn-anim3 1s linear infinite;
	animation-delay: .5s;
  }
  
  @keyframes btn-anim3 {
	0% {
	  right: -100%;
	}
	50%, 100% {
	  right: 100%;
	}
  }
  
  .botão_enviar span:nth-child(4) {
	bottom: -100%;
	left: 0;
	width: 2px;
	height: 100%;
	background: linear-gradient(360deg, transparent, var(--cor-botao-vm));
	animation: btn-anim4 1s linear infinite;
	animation-delay: .75s;
  }
  
  @keyframes btn-anim4 {
	0% {
	  bottom: -100%;
	}
	50%, 100% {
	  bottom: 100%;
	}
  }





@media (min-width: 800px) {
	.menu__link {
	background-color: var(--cor-fundo-az-principal); /*cor do fundo*/
	border: 1px solid var(--cor-fundo-borda-menu); /* cria uma borda */
	border-radius: 5px; /* borda fica com as pontas arredondadas */
	transition: .5s; /* tempo de mudança da cor */
	text-decoration: none; /* tira o subrinhado do link */
	color: #FFF; /* cor da font */
	margin-left: 10px;
	}

	.menu__link.ativo{
		color: #FFF; /* cor do menu ativo */
		font-weight: bold; /* fonte em negrito */
		font-family: 'Kaushan Script', cursive;	
	}

	.menu__link:hover {
		color: #FFF;
		background-color: var(--cor-fundo-borda-menu);
	} 
}

@media (max-width: 800px) {
    .menu__item {
        font-size: 16px;
        padding: 10px;
        border-bottom: 1px solid var(--cor-fundo-borda-menu);
        margin-bottom: 10px;
    }
}

@media (max-width: 800px) {
    .menu__lista {
        flex-direction: column;
		align-items: initial;
    }
}

@media (max-width: 800px) {
	.cabecalho__menu {
		flex-direction: column;
	}
}

@media (max-width: 800px) {
    .cabecalho {
        flex-direction: column;
        padding: 10px;
        align-items: initial;
        text-align: center;
    }
}