.cabecalho {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: var(--cor-fundo-cabecalho);
    padding: 0 1rem;
    box-shadow: var(--sombra-box);
    margin-bottom: 1rem;
    flex-wrap: wrap; /* Garante que itens não estourem em telas pequenas */
    list-style: none;
    position: relative;
    z-index: 10;
}

.logo {
    width: 320px;
    max-width: 100%; /* Responsivo */
    height: auto;
    display: block;
}

/* RESPONSIVIDADE */
@media (max-width: 800px) {
    .cabecalho {
        flex-direction: column;
        padding: 1rem;
        text-align: center;
    }

    .logo {
        margin-bottom: 1rem;
    }
}
