.esqueceu-senha{
    text-align: center;
}
.esqueceu-link{
    text-decoration: none;
    color: white;
}
.esqueceu-link:hover{
    text-decoration:underline;
    color: #db7171;
}

.botão_login{
    display: flex;
    justify-content: space-between;
}



/* Definindo estilos para todo o HTML */
html {
  height: 100%;
}

/* Estilos para o corpo da página */
body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background: var(--cor-fundo-az-principal);
}

/* Estilos para a caixa de login */
.login-box {
  margin-top: 4rem;
  width: 400px;
  padding: 40px;
  background: rgba(0, 0, 0, .5);
  box-sizing: border-box;
  box-shadow: 0 15px 25px rgba(0, 0, 0, .6);
  border-radius: 10px;
}

/* Estilos para o título da caixa de login */
h2 {
  margin: 0 0 30px;
  padding: 0;
  color: #fff;
  text-align: center;
  font-family: 'Kaushan Script', cursive; /*tipo de fonte*/
}

/* Estilos para os campos de entrada de usuário */
.user-box {
  position: relative;
}

input {
  /* Estilos para campos de entrada de texto */
  width: 100%;
  padding: 10px 0;
  font-size: 16px;
  color: #fff;
  margin-bottom: 30px;
  border: none;
  border-bottom: 1px solid #fff;
  outline: none;
  background: transparent;
}

label {
  /* Estilos para rótulos dos campos de entrada de texto */
  position: absolute;
  top: 0;
  left: 0;
  padding: 10px 0;
  font-size: 16px;
  color: #fff;
  pointer-events: none;
  transition: .5s;
}

/* Estilos para a animação dos rótulos quando o campo está em foco ou preenchido */
input:focus ~ label,
input:valid ~ label {
  top: -20px;
  left: 0;
  color: #db7171;
  font-size: 12px;
}

/* Estilos para links dentro da caixa de login */
.botão_enviar {
  /* Estilos para links de ação, como "Entrar" ou "Registrar" */
  position: relative;
  display: inline-block;
  padding: 10px 20px;
  color: #db7171;
  font-size: 16px;
  text-decoration: none;
  text-transform: uppercase;
  overflow: hidden;
  transition: .5s;
  margin-top: 40px;
  letter-spacing: 4px;
}

/* Estilos de animação para o hover do link */
.botão_enviar:hover {
  /* Estilos de animação quando o mouse passa por cima do link */
  background: #db7171;
  color: #fff;
  border-radius: 5px;
  box-shadow: 0 0 5px #db7171,
              0 0 25px #db7171,
              0 0 50px #db7171,
              0 0 100px #db7171;
}

/* Estilos para as linhas animadas dentro do link */
.botão_enviar span {
  position: absolute;
  display: block;
}

/* Estilos para a primeira linha animada */
.botão_enviar span:nth-child(1) {
  top: 0;
  left: -100%;
  width: 100%;
  height: 2px;
  background: linear-gradient(90deg, transparent, #db7171);
  animation: btn-anim1 1s linear infinite;
}

/* Definindo keyframes para a animação da primeira linha animada */
@keyframes btn-anim1 {
  0% {
    left: -100%;
  }
  50%, 100% {
    left: 100%;
  }
}

/* Repetindo o mesmo padrão para as outras linhas animadas */
.botão_enviar span:nth-child(2) {
  top: -100%;
  right: 0;
  width: 2px;
  height: 100%;
  background: linear-gradient(180deg, transparent, #db7171);
  animation: btn-anim2 1s linear infinite;
  animation-delay: .25s;
}

@keyframes btn-anim2 {
  0% {
    top: -100%;
  }
  50%, 100% {
    top: 100%;
  }
}

.botão_enviar span:nth-child(3) {
  bottom: 0;
  right: -100%;
  width: 100%;
  height: 2px;
  background: linear-gradient(270deg, transparent, #db7171);
  animation: btn-anim3 1s linear infinite;
  animation-delay: .5s;
}

@keyframes btn-anim3 {
  0% {
    right: -100%;
  }
  50%, 100% {
    right: 100%;
  }
}

.botão_enviar span:nth-child(4) {
  bottom: -100%;
  left: 0;
  width: 2px;
  height: 100%;
  background: linear-gradient(360deg, transparent, #db7171);
  animation: btn-anim4 1s linear infinite;
  animation-delay: .75s;
}

@keyframes btn-anim4 {
  0% {
    bottom: -100%;
  }
  50%, 100% {
    bottom: 100%;
  }
}

@media (max-width: 700px) {
  .login-box {
    padding: 20px;
    width: 100%;
    transform: none;
    margin-top: 3rem;
    box-shadow: none;
  }
}