.esqueceu-senha{
    text-align: center;
}
.esqueceu-link{
    text-decoration: none;
    color: white;
}
.esqueceu-link:hover{
    text-decoration:underline;
    color: #db7171;
}

.botão_login{
    display: flex;
    justify-content: space-between;
}

/* Estilos para o corpo da página */
body {
  font-family: sans-serif; /*font utilizada*/
}

/* Estilos para a caixa de login */
.login-box {
  margin-top: 4rem; /*margem externa*/
  width: 400px; /*largura*/
  padding: 40px; /*autura*/
  background: rgba(0, 0, 0, .5); /*cor fundo*/
  box-sizing: border-box; /*tamanho da caixa*/
  box-shadow: 0 15px 25px rgba(0, 0, 0, .6); /*sombra*/
  border-radius: 10px; /*raio da borda*/
}

/* Estilos para o título da caixa de login */
h2 {
  margin-bottom: 2rem; /* margem externa*/
  color: #fff; /* con da fonte*/
  text-align: center; /* alinhamento do texto*/
  font-family: 'Kaushan Script', cursive; /*tipo de fonte*/
}

/* Estilos para os campos de entrada de usuário */
.user-box {
  position: relative;
}

input {
  /* Estilos para campos de entrada de texto */
  width: 100%; /*largura*/
  padding: 10px 0; /* margem interna*/
  font-size: 16px; /*tamanho da fonte*/
  color: #fff; /* cor da fonte*/
  margin-bottom: 30px; /* margem externa*/
  border: none; /* borda*/
  border-bottom: 1px solid #fff; /* borda para baixo*/
  outline: none;
  background: transparent; /* fundo transparente*/
}

label {
  /* Estilos para rótulos dos campos de entrada de texto */
  position: absolute; /*sobre no cartao*/
  top: 0; /* coloca o titulo na medida informada*/
  left: 0; /* coloca o titulo na medida informada*/
  padding: 10px 0; /*margem interna*/
  font-size: 16px; /*tamanho da fonte*/
  color: #fff; /*cor da fonte*/
  pointer-events: none;
  transition: .5s; /* tempo de transação para o "focus"*/
}

/* Estilos para a animação dos rótulos quando o campo está em foco ou preenchido */
input:focus ~ label,
input:valid ~ label {
  top: -20px; /*sobe o texto*/
  left: 0; /* fica na posição informada*/
  color: #db7171; /* cor da fonte*/
  font-size: 12px; /*tamanho da fonte*/
}

/* Estilos para links dentro da caixa de login */
.botão_enviar {
  /* Estilos para links de ação, como "Entrar" ou "Registrar" */
  position: relative; /*garante que a animação fica na tag*/
  display: inline-block;
  padding: 10px 20px; /*margem interna*/
  color: #db7171; /*cor do botão*/
  font-size: 16px; /*tamanho da fonte*/
  text-decoration: none; /* tira o subrinhado do link*/
  text-transform: uppercase;  /*coloca o texto em maiusculo*/
  overflow: hidden; /* garante que a animação faça internamente na tag*/
  transition: .5s; /* tempo de transação*/
  margin-top: 40px; /*margem externa*/
  letter-spacing: 4px; /*espaço entre as letras*/
}

/* Estilos de animação quando o mouse passa por cima do link */
.botão_enviar:hover {
  background: #db7171; /* cor de fundo*/
  color: #fff; /*cor da fonte*/
  border-radius: 5px;/*raio da borda*/
  /*sombra do botão*/
  box-shadow: 0 0 5px #db7171,
              0 0 25px #db7171,
              0 0 50px #db7171,
              0 0 100px #db7171;
}

/* Estilos para as linhas animadas dentro do link*/
.botão_enviar span {
  position: absolute;
  display: block;
} 

/* Estilos para a primeira linha animada */
.botão_enviar span:nth-child(1) {
  top: 0;
  left: -100%;
  width: 100%;
  height: 2px;
  background: linear-gradient(90deg, transparent, #db7171);
  animation: btn-anim1 1s linear infinite;
}

/* Definindo keyframes para a animação da primeira linha animada */
@keyframes btn-anim1 {
  0% {
    left: -100%;
  }
  50%, 100% {
    left: 100%;
  }
}

/* Repetindo o mesmo padrão para as outras linhas animadas */
.botão_enviar span:nth-child(2) {
  top: -100%;
  right: 0;
  width: 2px;
  height: 100%;
  background: linear-gradient(180deg, transparent, #db7171);
  animation: btn-anim2 1s linear infinite;
  animation-delay: .25s;
}

@keyframes btn-anim2 {
  0% {
    top: -100%;
  }
  50%, 100% {
    top: 100%;
  }
}

.botão_enviar span:nth-child(3) {
  bottom: 0;
  right: -100%;
  width: 100%;
  height: 2px;
  background: linear-gradient(270deg, transparent, #db7171);
  animation: btn-anim3 1s linear infinite;
  animation-delay: .5s;
}

@keyframes btn-anim3 {
  0% {
    right: -100%;
  }
  50%, 100% {
    right: 100%;
  }
}

.botão_enviar span:nth-child(4) {
  bottom: -100%;
  left: 0;
  width: 2px;
  height: 100%;
  background: linear-gradient(360deg, transparent, #db7171);
  animation: btn-anim4 1s linear infinite;
  animation-delay: .75s;
}

@keyframes btn-anim4 {
  0% {
    bottom: -100%;
  }
  50%, 100% {
    bottom: 100%;
  }
}

@media (max-width: 700px) {
  .login-box {
    padding: 20px; /*margem interna*/
    width: 100%; /*largura*/
    transform: none; /*transformação*/
    margin-top: 3rem; /*margem externa*/
    box-shadow: none; /*sombra*/
  }
}