.serviços {
    background: #0F7BA6;
    display: flex;  
    justify-content: space-evenly;
    padding: 0 0 2rem;
}


@media (max-width: 800px) {
    .serviços {
        flex-direction: column;
    }
}