body {
	font-family: 'Montserrat', sans-serif;;
}
header{
    background: #00008B;
    padding: 50px 0;
}
.menu {
	position: relative;
	width: 940px;
	margin: 0 auto;
}
.nomeTitulo{
    color: #e91616;
    font-weight: bold;
    position: absolute;
    font-size: 34px;
}
nav {
	position: absolute; 
	right: 0;
}
nav li {
	display: inline;
	margin: 0 0 0 15px;
}
nav a {
	text-transform: uppercase;
	color: #BBBBBB;
	font-weight: bold;
	font-size: 18px;
	text-decoration: none;
}
nav a:hover {
	color: #e91616;
	text-decoration: underline;
}  
main{
    background: linear-gradient(#00008B,#BBBBBB);
}
.titulo-principal {
    text-align: center;
    font-size: 25px;
    color: #BBBBBB;
    margin: 10px 0 1em; 
    padding: 1am 0;
}
.principal {
    width: 940px;
	margin: 0 auto; 
    padding: 40px;
}
.principal p {
    margin: 10px 0 1em;
}
.Missao{
    font-style: italic;
}
.Missao strong{
    font-weight: bold;
} 


footer{
    text-align: center;
    color: #BBBBBB;
    background: url("Imagens/vermelho-abstrato.jpg");
    padding: 40px;
}   