.banner {
    position: relative; /* fez o texto centralizar na imagem em vez do site, pq é a classe "pai" */
}

.banner__titulo {
    color: #fdfdfd; /* cor da fonte */
    font-family: Pacifico, cursive; /* muda a letra da fonte */
    position: absolute; /* deixa a fonte sobre a resto da pagina */
    left: 50%; /* deixa a fonte iniciando no meio da pagina */
    text-shadow: 0 4px 4px rgba(0, 0, 0, 0.75); /* cor da sombra do fonte */
    top: 50%; /* vai para 50% do top da imagem */
    text-align: center; /* centraliza o texto */
    transform: translate(-50%, -50%); /* centralizou o texto na imagem */
    width: 100%; /* deixou o texto em uma linha */
}

.banner__imagem{
    background-image: url('../../../Imagens/Frutas_e_Frutos/banner.jpg'); /* mostrar a imagem */
    background-position: center; /* centralizar a imagem na caixa */
    background-repeat: no-repeat; /* não repetir a imagem dentro da caixa */
    background-size: cover; /* preencher a imagem conforme a caixa */
    width: 100%; /* deixa a imagem 100% da largura da pagine */
}

@media screen and (min-width: 0) { /* telas pequenas */
    .banner__imagem{
        height: calc(100vh - 50px);
    }
}

@media screen and (min-width: 768px) {
    .banner__imagem {
        height: calc(100vh - 72px);
    }
}

@media screen and (min-width: 0) { /* telas pequenas */
    .banner__titulo {
        font-size: 3rem; /* tamanho da font */
    }
}

@media screen and (min-width: 768px) { /* tela grande */
    .banner__titulo {
        font-size: 5.0625rem; /* almenta o tamanho da fonte */
    }
    
}