.cabecalho_frutas{
    align-items: center; /*alinha os item no centro do cabecalho*/
    background: #f9f9f9; /* cor do cabecalho */
    display: flex; /* deixa o menu ao lado da imagem */
    justify-content: space-between; /* deixa o menu no canto direito */
    padding-left: 2rem; /* desloca o conteudo da esquerda */
    padding-right: 2rem; /* desloca o conteudo da direita */
}

@media screen and (min-width: 0) { /* layout para telas menores */
    .cabecalho_frutas{
        justify-content: center; /* alinhado no centro */
        padding: 0 1rem; /* espaçamento nas laterais */
    }
}

@media screen and (min-width: 768px) { /* layout para tela maior de 768px */
    .cabecalho_frutas {
        padding: 0 5rem; /* espaçamento nas laterias */
        justify-content: space-between;
    }
}