.menu_link{
    color: #808080; /* cor da fonte do menu */
    margin-right: 1.25rem; /* margem entre os links */
    text-decoration: none; /* tira o subrinhado dos links */
    text-transform: lowercase; /* deixa todas as letras minusculas */
    font-family: Roboto, sans-serif;
}

.menu_link.ativo{
    color: #333333; /* cor do menu ativo */
    font-weight: bold; /* fonte em negrito */
}

.menu_link:hover {
    text-decoration: underline;
}