.jogo {
    background: var(--cor-fundo-az-principal);
    padding-bottom: 2rem;
    display: flex;
    justify-content: space-around;
  }

.canvas{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--cor-fundo-cartao);
    width: 600px;
    border-radius: 7px;
}

.painel_poing{
    display: flex;
    align-items: center;
    padding: 10px;  
}

#startButton {
    background: var(--cor-botao-vm); /* cor de fundo */
    border: none; /* tirar a borda do botao */
    border-radius: 5px; /*borda aredondada do botao*/
    color: #fdfdfd; /* cor da letra do botao */
    padding: 1rem; /* espaçamento interno */
    transition: all .2s ease-in-out; /* vai mudar de cor o botão mais lento */
    margin-left: 2rem;
}
#startButton:hover{
    background: var(--cor-botao-vm-escuro); /* muda a cor quando o mause estiver encima do botao */
    cursor: pointer; /* muda o cursos para uma mãozinha */
}

#muteButton {
    background: var(--cor-botao-vm); /* cor de fundo */
    border: none; /* tirar a borda do botao */
    border-radius: 5px; /*borda aredondada do botao*/
    color: #fdfdfd; /* cor da letra do botao */
    padding: 1rem; /* espaçamento interno */
    transition: all .2s ease-in-out; /* vai mudar de cor o botão mais lento */
    margin-left: 10px;
}
#muteButton:hover{
    background: var(--cor-botao-vm-escuro); /* muda a cor quando o mause estiver encima do botao */
    cursor: pointer; /* muda o cursos para uma mãozinha */
}

  canvas {
    background-color: var(--cor-fundo-cabecalho);
    display: block;
    margin: 0 auto;
    border-bottom-left-radius: 7px;
    border-bottom-right-radius: 7px;
  }

  #score {
    text-align: center;
    display: flex;
    justify-content: center;
  }

  #playerScore {
    margin-right: 5px;
    margin-left: 5px;
  }

  #computerScore {
    margin-right: 5px;
    margin-left: 5px;
  }