.site_container{
    background-color: #D9D9D9; /*cor de fundo*/
    padding: 2rem 0 2rem; /* margem interna top e bottom*/
}

.site_titulo{
    color: #4F4C4C;/*cor da font*/
    font-weight: 700; /*negrito da font*/
    font-size: 1.5rem; /*tamanho da font*/
    font-family: 'Kaushan Script', cursive; /*tipo da font*/
    text-transform: uppercase;
    text-align: center; /*centralizou o texto no meio */
    margin-bottom: 2rem;

}
.site_cartoes{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.site_cartao{
    background-color:#1f3d49; /*cor do fundo*/
    width: 100%; /*largura */
    max-width: 300px; /*largura max*/
    margin: 0 1rem 2rem; /*margem para baixo*/
    border-radius: 5px; /*raio da borda*/
    box-shadow: 0 2px 10px 2px #00000010;
}
.site_titulo_cartao{
    color: #e1f6ff; /*cor da font*/
    font-weight: 100; /*negrito da font*/
    font-size: 1.2rem; /*tamanho da font*/
    text-align: center; /*texto alinhado*/
    padding: .75rem; /*margem interna*/
    margin-bottom: .5rem; /*margem externa para baixo*/
    border-bottom: 1px solid #0F7BA6; /*borda baixo*/
}
.site_conteudo{
    padding: 0 15%;
}
.site_texto{
    color: #e1f6ff; /*cor da font*/
    text-align: center; /*texto alinhado*/
    line-height: 28px;
    font-weight: 1; /*negrito da font*/
    font-size: 1rem; /*tamanho da font*/
}
.informacoes_botao{
    display: block; /*fixo dentro no cartão anterior*/
    background: #8d0606; /*cor do botao*/
    border: none; /*sem borda*/
    border-radius: 7px; /*tamaho do raio do botao*/ 
    color: #fdfdfd; /*cor da font*/
    padding: 1rem; /*margem interna*/
    transition: all .2s ease-in-out; /*transação da cor + combinado com transform do hover*/
    text-decoration: none; /*tira o sublinhado do link*/
    text-align: center; /*alinhou o texto*/
    margin: 1rem 0 1rem; /*margem externa*/
    font-size: 1,2rem; /*tamanho da font*/
    transition: 1s all; /*tempo de transição do mouse*/
}
.informacoes_botao:hover{
    background: #620404; /*cor do fundo*/
    cursor: pointer; /*parece uma mão quando o mause está em cima do botao*/
    transform: scale(1.1); /*tamanho do zoom do botão*/
}

/*
@media screen and (min-width: 1024px) {
    .site_cartoes {
        flex-direction: row;
        justify-content: space-between;
        align-items: flex-end;
        max-width: 300px;
    }
    .site_container {
        padding-left: calc((100% - 940px)/2);
        padding-right: calc((100% - 940px)/2);
    }
}