.banner__imagem{
    background-image: url('../../../../Imagens/Frutas_e_Frutos/banner.jpg'); /* mostrar a imagem */
    background-position: center; /* centralizar a imagem na caixa */
    background-repeat: no-repeat; /* não repetir a imagem dentro da caixa */
    background-size: cover; /* preencher a imagem conforme a caixa */
    width: 100%; /* deixa a imagem 100% da largura da pagine */
}

@media screen and (min-width: 0) { /* telas pequenas */
    .banner__imagem{
        height: calc(100vh - 50px);
    }
}

@media screen and (min-width: 768px) {
    .banner__imagem {
        height: calc(100vh - 72px);
    }
}