.barbearia__titulo {
    font-family: 'Kaushan Script', cursive;
    text-align: center; /* texto alinhado */
    font-size: 25px; /* tamanho do fonte */
    color: #E9ECF2; /* cor da fonte */
}

@media (max-width: 800px) {
    .barbearia__titulo {
        padding-top: 1rem;
    }
}