.quem-somos__titulo {
    margin-bottom: 1rem; /* margem para baixo */
    color: #8d0606; /* cor da font */
    font-size: 3.1875rem; /*tamanho da font */
    font-family: Pacifico, cursive; /* estilo da fonte */
}