.menu_move {
	position: relative;
	width: 540px;
	height: 50px;
	background-color: var(--cor-fundo-az-principal);
	border-radius: 8px;
	font-size: 0;
}
.menu_move .menu_link {
	line-height: 50px;
	height: 100%;
	font-size: 15px;
	display: inline-block;
	position: relative;
	z-index: 1;
	text-decoration: none;
	text-transform: uppercase;
	text-align: center;
	color: white;
	cursor: pointer;
}
.menu_move .animation {
	position: absolute;
	height: 100%;
	top: 0;
	transition: all .5s ease 0s;
	border-radius: 8px;
}
/* minhas alterações */

.menu_link.ativo {
	background-color: var(--cor-botao-vm);
	border-radius: 8px;
	font-weight: bold;
	font-family: 'Kaushan Script', cursive;	
}
.menu_link.ativo ~ .animation {
    width: 100%;
    left: 0;
    background-color: var(--cor-fundo-cartao);
}

/* original*/

.menu_link:nth-child(1) {
	width: 100px;
}
.menu_link:nth-child(2) {
	width: 110px;
}
.menu_link:nth-child(3) {
	width: 100px;
}
.menu_link:nth-child(4) {
	width: 110px;
}
.menu_link:nth-child(5) {
	width: 120px;
}
.menu_move .start-home, .menu_link:nth-child(1):hover~.animation {
	width: 100px;
	left: 0;
	background-color: var(--cor-botao-vm);
}
.menu_move .start-about, .menu_link:nth-child(2):hover~.animation {
	width: 110px;
	left: 100px;
	background-color: var(--cor-botao-vm);
}
.menu_move .start-blog, .menu_link:nth-child(3):hover~.animation {
	width: 100px;
	left: 210px;
	background-color: var(--cor-botao-vm);
}
.menu_move .start-portefolio, .menu_link:nth-child(4):hover~.animation {
	width: 110px;
	left: 310px;
	background-color: var(--cor-botao-vm);
}
.menu_move .start-contact, .menu_link:nth-child(5):hover~.animation {
	width: 120px;
	left: 420px;
	background-color: var(--cor-botao-vm);
}
