.botão_cnpj {
    background: var(--cor-botao-vm); /* cor de fundo */
    border: none; /* tirar a borda do botao */
    border-radius: 5px; /*borda aredondada do botao*/
    color: var(--cor-texto-claro); /* cor da letra do botao */
    padding: 1rem; /* espaçamento interno */
    transition: all .2s ease-in-out; /* vai mudar de cor o botão mais lento */
    display: block; /*fixo na caixa anterior*/
    text-decoration: none; /*tirar o sublinhado do link*/
    font-size: 15px; /*tamanho da fonte*/
    margin: 1rem 2.5rem 1rem 2.5rem; /*margem exerna*/
    
}

.botão_cnpj:hover { /* quando passar o mause em cima */
    background: var(--cor-botao-vm-escuro); /* muda a cor quando o mause estiver encima do botao */
    cursor: pointer; /* muda o cursos para uma mãozinha */
}