.cartao {
    background-color:#1f3d49;
    border-radius: 10px; /*Borda aredondada*/
    box-shadow: 0 5px 10px #55a6ff38;
    color: #E9ECF2; /*Cor da font*/
    width: 100%;
    max-width: 45rem;
    padding: 1.75rem;
    box-sizing: border-box;
    margin-bottom: 1rem;
}
.cartao__titulo {
    font-size: 28px;
    margin-bottom: 1rem;
}