.serviço__botão {
    background: #8d0606; /* cor de fundo */
    border: none; /* tirar a borda do botao */
    border-radius: 5px; /*borda aredondada do botao*/
    color: #fdfdfd; /* cor da letra do botao */
    padding: 1rem; /* espaçamento interno */
    transition: all .1s ease-in-out; /* vai mudar de cor o botão mais lento */
}

.serviço__botão:hover { /* quando passar o mause em cima */
    background: #620404; /* muda a cor quando o mause estiver encima do botao */
    cursor: pointer; /* muda o cursos para uma mãozinha */
}