.serviço {
    background: #1f3d49; /* cor de fundo */
    border-radius: 10px;
    text-align: center; /* texto alinhado */
    width: 25%;
}   

@media (max-width: 800px) {
    .serviço {
        width: auto;
    }
}