.pessoa__nome {
    margin: 1rem 0; /* margem cima e embaixo 1rem e dos lados 0 */
    font-family: Pacifico, cursive; /* estilo da font */
    color: #8d0606; /* cor da font */
    font-size: 2rem; /*tamanho da font */
}