.pessoa {
    display: flex;
    flex-direction: column;
}

@media screen and (min-width: 0) {
    .pessoa{
        margin-bottom: 2rem; /* espaçamento abaixo para não ficarem juntas */
    }
}

@media screen and (min-width: 768px) { /* tela tablet */
    .pessoa{
        margin-bottom: 0; /* não precisa pq as imagens vão estar um do lado do outro */
    }
}